/* tailwindcss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  color: #212529;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 1.5rem 0;
}

footer {
  position: relative;
}

footer::before,
footer::after {
  content: '';
  position: absolute;
  z-index: -1;
}

footer::after {
  bottom: 100px;
  left: 20px;
  width: 120px;
  height: 120px;
  opacity: 0.5;
  border-radius: 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
  background-position: top center;
  background-repeat: repeat;
  background-attachment: scroll;
}

footer::before {
  bottom: 6rem;
  right: 25rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.25;
  border: 4px solid #cdcdcd;
}

footer [rel='no-follow'] {
  @apply underline;
}

footer [rel='no-follow']:hover {
  @apply no-underline;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: inherit;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
}
code {
  @apply rounded-sm bg-gray-300 px-2;
}
pre code {
  @apply bg-transparent px-0;
}
a[target='_blank'] {
  font-weight: bold;
}
.blockquote,
hr {
  margin-bottom: 1rem;
}
.h1,
h1 {
  font-size: 2.5rem;
}
.h2,
h2 {
  font-size: 2rem;
}
.h3,
h3 {
  font-size: 1.75rem;
}
.h4,
h4 {
  font-size: 1.5rem;
}
.h5,
h5 {
  font-size: 1.25rem;
}
.h6,
h6 {
  font-size: 1rem;
}
.container {
  margin: auto;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 900;
  line-height: 1.2;
}
.display-1 {
  font-size: 6rem;
}
.display-2 {
  font-size: 5.5rem;
}
.display-3 {
  font-size: 4.5rem;
}
.display-4 {
  font-size: 3.5rem;
}
.leading-snug {
  font-family: 'Playfair Display', sans-serif;
}

/* main */

.main {
  position: relative;
  overflow: hidden;
}
.main::before {
  content: '';
  position: absolute;
  top: 120px;
  left: -120px;
  bottom: 0;
  z-index: -1;
  width: 420px;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  height: 420px;
  opacity: 0.5;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
  background-position: top center;
  background-repeat: repeat;
  background-attachment: scroll;
}

.header-home {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.heading-component {
  @apply font-bold text-2xl uppercase text-left mb-6;
}

.nav-list {
  @apply flex flex-wrap text-left;
}

.nav-list-item {
  @apply px-2
  mb-2
  text-left
  border-l-2 border-gray-400;
}
.nav-list-item-body {
  @apply text-gray-600 uppercase tracking-wider font-medium text-lg;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  @apply absolute h-full w-full;
}

/* themes */

.theme {
  position: relative;
  overflow: hidden;
}
.theme::before {
  top: 0;
  right: 0;
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  opacity: 0.5;
  z-index: -1;
  border-radius: 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
  background-position: top center;
  background-repeat: repeat;
  background-attachment: scroll;
}
.theme::after {
  top: 16rem;
  right: 1rem;
  content: '';
  position: absolute;
  transform: rotate(-20deg);
  width: 0;
  height: 0;
  opacity: 0.5;
  z-index: -1;
  border-top: 25px solid transparent;
  border-right: 50px solid #cdcdcd;
  border-bottom: 25px solid transparent;
}

/* aside menu */

.theme nav.relative {
  transform: translateY(0);
}
.theme nav.fixed {
  transform: translateY(14px);
  transition: transform 0.5s ease;
}

/* headlines */

a.headline {
  transition: all 0.35s ease-in-out;
  display: block;
}
a.headline:hover {
  transform: translate(5px, 0);
}
a.headline h3 {
  @apply font-extrabold;
}

.article-card a {
  background-color: #fff;
  border-radius: 8px;
}

.article-card img div {
  border-radius: 8px 0 0 8px;
}

.article-card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  @apply bg-white;
}

.article-card::before {
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 2px solid #cdcdcd;
  transform: rotate(-40deg) translate(2px, 2px);
  border-radius: 50%;
  opacity: 0.25;
}

.article-card::after {
  bottom: -1.95rem;
  right: -1.95rem;
  width: 80px;
  height: 80px;
  transform: rotate(-40deg) scale(1);
  border-radius: 50%;
  opacity: 0.5;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
  background-position: top center;
  background-repeat: repeat;
  background-attachment: scroll;
}

.article-card::before,
.article-card::after {
  position: absolute;
  content: '';
  z-index: 1;
}

.article-tag {
  @apply text-gray-500 rounded-full
  px-2
  py-1
  ml-0
  mr-2
  mb-1
  text-xs
  uppercase
  inline-block
  border-2 border-gray-300;
}

.article-tag:hover {
  @apply bg-gray-300;
}

/* custom css */
.nuxt-content-highlight {
  @apply relative mb-4;
}
.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-600 font-light z-10 mr-2 mt-1 text-sm;
}

.nuxt-content p a {
  @apply underline;
}
.nuxt-content p a:hover {
  @apply no-underline;
}

/* AMP */
[layout='fill'] img {
  object-fit: cover;
}

.google-auto-placed.ap_container {
  margin: 2rem 0;
}
.google-auto-placed {
  margin: 2rem 0 1rem 0;
}
